# String

In [ ]:
print('hello python')

In [21]:
s ='python programming'

In [22]:
# 1. 'p'의 인덱스 값을 출력하시오
a = 0
for x in s:
    if x == 'p':
        print(a)
    a += 1

# s.find('x')

0
7

In [121]:
# 2. 'Pro'를 출력하시오
s[7:10].capitalize()

'Pro'

In [37]:
# 3. 'ing'를 출력하시오
s[-3:]

'ing'

In [38]:
# 4. s의 길이를 출력하시오
len(s)

18

In [39]:
# 5. 'o'의 갯수를 출력하시오
s.count('o')

2

In [41]:
# 6. 'python'과 'programming'을 분리해서 리스트에 담으시오
list = s.split(' ')
print(list)

['python', 'programming']

In [42]:
# 7. 'python'이 s에 포함되어 있는지 확인하시오
'python' in s

True

In [44]:
# 8. 이름을 입력받은 후 => '이름씨 환영합니다!!'가 출력되도록 하시오
name = input('이름을 입력하세요. ')
# print(name+'씨 환영합니다!!')
print('{}님 환영합니다!!'.format(name))

이름을 입력하세요. aaa
aaa님 환영합니다!!

In [46]:
# 9. s를 모두 대문자로 전환하시오.
s.upper()

'PYTHON PROGRAMMING'

In [51]:
# 10. 'python'을 java로 대체하시오
# list[0]='java'
# print(list)
s.replace('python', 'java')

'java programming'

# List

In [109]:
sol = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
sol1 = ['토성', '천왕성', '해왕성']

# sol 리스트에서 풀이를 하시오

In [110]:
# 1. '수성', ' 금성', '지구' 를 출력하시오
sol[1:4]

['수성', '금성', '지구']

In [66]:
# 2. '지구'의 Index를 출력하시오

In [111]:
sol.index('지구')

3

In [112]:
# 3. '화성'을 '해왕성'으로 수정하시오
sol[sol.index('화성')] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [113]:
# 4. '수성' 자리에 '명왕성' 을 삽입하시오
sol.insert(sol.index('수성'),'명왕성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [114]:
# 5. 맨 끝에 '토성' 을 추가하시오
sol.append('토성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [115]:
# 6. '지구' 를 삭제하시오
sol.remove('지구')
sol

['태양', '명왕성', '수성', '금성', '해왕성', '목성', '지구', '토성']

In [244]:
# 7. 오름차순 정렬하시오
# sol.sort()
# sol
sorted(sol)

['금성', '명왕성', '목성', '수성', '지구', '태양', '토성', '해왕성']

In [118]:
# 8.'만리장성'이 있는지 확인하시오
'만리장성' in sol

False

In [119]:
# 9. 길이를 리턴하시오
len(sol)

8

In [123]:
# 10. sol과 sol1을 연결하시오
solT = sol+sol1
solT
# extend

['금성', '명왕성', '목성', '수성', '지구', '태양', '토성', '해왕성', '토성', '천왕성', '해왕성']

# Dictionary

In [162]:
names = {'Mary':1090, 'Sams':2111, 'Aim':9778, 'Tom':5478, 'Micheal':4581, 'Kelly':7891}

In [163]:
# 1. 'Aim'의 값을 출력하시오
names['Aim']

9778

In [164]:
# 2. 'Aim'의 값을 2000으로 변경하시오
names['Aim'] = 2000
names['Aim']

2000

In [165]:
# 3. names의 value들의 합을 구하시오
# a = 0
# for x in names.values():
#     a = a + int(x)
# a
print(sum(names.values()))

23151

In [166]:
# 4. key와 value들의 각 쌍을 tuple로 출력하시오
names.items()

dict_items([('Mary', 1090), ('Sams', 2111), ('Aim', 2000), ('Tom', 5478), ('Micheal', 4581), ('Kelly', 7891)])

In [167]:
# 5. 'Kim'을 key로 value를 1000으로 추가하시오
names['Kim'] = 1000
names

{'Mary': 1090,
 'Sams': 2111,
 'Aim': 2000,
 'Tom': 5478,
 'Micheal': 4581,
 'Kelly': 7891,
 'Kim': 1000}

In [170]:
# 6. 이름을 입력받은 후 이름이 있으면 값을 출력하고 없으면 받은 이름을 값 1000로 추가하시오
name = input('이름을 입력하시오.')
# if names.keys() == name:
#     print(names[name])
# else:
#     names[name] = 1000
#     print(names[name])
names.setdefault(name, 1000)
names

이름을 입력하시오.Mi

{'Mary': 1090,
 'Sams': 2111,
 'Aim': 2000,
 'Tom': 5478,
 'Micheal': 4581,
 'Kelly': 7891,
 'Kim': 1000,
 'yu': 1000,
 'An': 1000,
 'Mi': 1000}

In [245]:
# 7. key가 'Tom'인 요소를 제거하시오
# del names['Tom']
names.pop('Tom')
names

{'Mary': 1090,
 'Sams': 2111,
 'Aim': 9778,
 'Micheal': 4581,
 'Kelly': 7891,
 'AN': 1000}

# If

In [174]:
passwd = 1234

In [180]:
# 1. 패스워드를 입력받은 후 맞으면 '환영합니다', 틀리면 '패스워드가 틀립니다'를 출력하시오
pw = int(input('패스워드를 입력하시오. '))
if passwd == pw:
    print('환영합니다.')
else:
    print('패스워드가 틀립니다')

패스워드를 입력하시오. 1234
환영합니다.

In [191]:
# 2. 임의의 정수를 입력받은 후 홀수이면 '홀수', 짝수이면 '짝수'를 출력하시오
i = int(input('임의의 정수를 입력하시오.'))
if i%2 == 1:

    print('홀수')
else:
    print('짝수')

# if i/2 ==0:

임의의 정수를 입력하시오.6
짝수

In [192]:
# 3. 점수를 입력받은 후 학점을 출력하는 코드를 작성하시오
score = int(input('점수를 입력하시오. '))
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
elif score >= 50:
    print('E')
else:
    print('F')

점수를 입력하시오. 88
B

In [200]:
names = {'Mary':1090, 'Sams':2111, 'Aim':9778, 'Tom':5478, 'Micheal':4581, 'Kelly':7891}

In [203]:
# 4. 임의의 이름을 입력받은 후 names에 이름이 있으면 점수를 출력하고, 없으면 점수 1000으로 추가하시오(setdefault 사용 X)
name = input('이름을 입력하시오.')
if name in names:
    print(names[name])
else:
    names[name] = 1000
    print(names[name])

names

이름을 입력하시오.AN
1000

{'Mary': 1090,
 'Sams': 2111,
 'Aim': 9778,
 'Tom': 5478,
 'Micheal': 4581,
 'Kelly': 7891,
 'AN': 1000}

# For

In [242]:
# 1. 1부터 50까지 합을 구하시오
a=0
for x in range(51):
#     print(x, end=', ')
    a = a + x
print(a)

1275

In [230]:
# 2. 1부터 50까지 짝수의 합을 구하시오
a = 0
for x in range(1,51):
    if x%2 == 0:
        a = a + x
        
print(a)

650

In [231]:
# 3. 1부터 10까지 출력하는 반복문에서 continue와 break를 사용하여 3, 4, 5만을 출력하시오
for x in range(11):
    if x < 3:
        continue
    if x > 5:
        break
    print(x, end=', ')

3, 4, 5,

In [236]:
# 4. 'python programming' 에서 모음의 갯수를 출력하시오. 단, 모음은 'aeiou'
cnt = 0
# str = 'python programming' 
# for x in str:
#     if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
#         cnt = cnt + 1

for x in 'python programming':
    if x in 'aeiou':
        cnt += 1
    
print(cnt)

4

In [237]:
# 5. 점수를 5회 입력받아서 평균 구하기
sc_sum = 0
for x in range(1, 6):
    score = int(input('점수를 입력하시오'))
    sc_sum = sc_sum + score
    avg = sc_sum/x
    
print(avg)

점수를 입력하시오6
점수를 입력하시오6
점수를 입력하시오6
점수를 입력하시오6
점수를 입력하시오6
6.0